@import 'vars';
@import 'global';
@import 'fonts';

// start header
header{
  background-color: $bg;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  height: 98px;
  align-items: center;
}
.menu{
  display: flex;
  margin-top: 5px;
}
.menu__list{
  a{
    color: $text;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
    transition: all 0.3s;
    &:hover{
      content: '';
      color: #fff;
    }
  }
  li{
    display: inline-block;
    & + li{
      margin-left: 46px
    }
  }
}
.header__box{
  margin-top: 5px;
  li{
    display: inline-block;
    & + li{
      margin-left: 21px;
    }
  }
}
// end header
// start section slider
.slider{
  background-color: $bg;
  position: relative;
  &__item{
    min-height: 885px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__info{
    position: absolute;
    top: 336px;
    left: 190px;
    max-width: 538px;
  }
  &__title{
    font-size: 25px;
    padding-left: 84px;
    line-height: 19px;
    color: $text;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 63px;
      height: 5px;
      left: 0px;
      top: 6px;
      background-color: #fab7a6;
    }
    span{
      color: $title;
    }
  }
  &__text{
    text-transform: uppercase;
    color: $text;
    margin-top: 61px;
    font-size: 60px;
  }
}
.slick-next{
  position: absolute;
  right: 0px;
  top: 420px;
  margin-right: 40px;
}
.slick-prev{
  top: 420px;
  z-index: 1;
  position: absolute;
  margin-left: 40px;
}
.slick-arrow{
  cursor: pointer;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(98, 98, 98, 0.2);
  .hunter{
    opacity: 1;
  }
}
// end section slider
// start section info
.info{
  background-color: $bg;
  height: 754px;
  &__title{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 41px;
    text-transform: uppercase;
  }
  &__title-text{
    width: 495px;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    line-height: 19px;
    padding-top: 80px;
    line-height: 100%;
    color: $title;
    text-transform: uppercase;
    span{
      color: #181817;
      font-weight: 700;
    }
  }
}
.info__title-dicoration {
  margin-top: 30px;
  height: 10px;
  position: relative;
  display: flex;
  img{
    justify-content: center;
    position: absolute;
    left: 245px;
    bottom: 6px;
  }
    &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 212px;
      background-color: #5e5e5d;
      left: 15px;
      bottom: 11px;
  }
    &::after{
      content: '';
      position: absolute;
      height: 1px;
      width: 212px;
      background-color: #5e5e5d;
      right: 15px;
      bottom: 11px;
  }
}
.advantages{
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.info__items{
  margin-top: 65px;
  max-width: 402px;
  height: 300px;
}
.info__item{
  height: 170px;
  display: flex;
  justify-content: space-between;
  &-box{
    max-width: 302px;
  }
  &-title{
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    color: $title;
  }
  &-text{
    color: $text;
    padding-top: 22px;
    max-width: 271px;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
  }
  &-icons{
    margin: 0 auto; 
    margin-left: 23px;
    min-width: 96px;
  }
}
.info-icon{
  padding: 0px 35px;
}
.info__item-title--right,
.info__item-text--right{
  order: -1;
  padding-left: 0px;
  text-align: left;
}
.info__item-icons--right{
  order: -1;
  padding-right: 30px;
}
// end section info
// start section gallery
.gallery{
  background-color:$bg;
}
.gellery__inner{
  justify-content: center;
  display: grid;
  grid-template-columns: minmax(165px, 400px) minmax(165px, 400px) minmax(165px, 400px) minmax(165px, 400px);
  grid-auto-rows: minmax(163px, 336px);
}
.gellery__item{
  position: relative;
  background-color: #e3e5e4;
}
.gellery__box{
  position: absolute;
  top: 78px;
  left: 91px;
  &-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 70px;
  }
  &-text{
    font-size: 14px;
  }
}
.gellery__box-green{
  color: #749d26;
  a{
    color: #749d26;
  }
}
.gellery__box-black{
  color: #352b30;
  a{
    color: #352b30;
  }
}
.gellery__box-darkgreen{
  color: #305243;
  a{
    color: #305243;
  }
}
// end section gallery
// start section price
.product{
  // border-top: 1px solid #f9fafc;
  background-color: #f9fafc;
  padding-bottom: 149px;
}
.product__item{
  max-width: 272px;
  background-color: #fff;
  position: relative;
  &:hover{
    content: '';
    background-image: url(../images/content/hover.jpg);
    opacity: 0.569;
    width: 294px;
    height: 400px;
    .product__menu{
      display: block;
    }
  }
}
.product__chair{
padding-left: 49px;
padding-top: 21px;
  img{
    width: 200px;
    height: 200px;
    width: 77%;
  }
}
.product__box{
  max-width: 216px;
  height: 130px;
  padding-left: 24px;
}
.product__box-name {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.product__box-text{
  font-size: 14px;
  color: #6d6d6d;
  margin-bottom: 34px;
}
.product__box-price {
  font-size: 29px;
  color: #000;
  font-weight: 700;
}
.product__inner{
  justify-content: center;
  display: grid;
  grid-template-columns: minmax(198px, 272px) minmax(198px, 272px) minmax(198px, 272px) minmax(198px, 272px);
  grid-auto-rows: minmax(338px, 400px);
  grid-gap: 30px
}
.product__menu{
  display: none;
  left: 36px;
  top: 163px;
  max-width: 186px;
  width: 100%;
  height: 58px;
  background-color: #555f6d;
  border-radius: 26px;
  position: absolute;
  &-box{
    padding-top: 19px;
    padding-left: 41px;
  }
  li{
    display: inline-block;
    & + li{
      margin-left: 17px
    }
  }
}
.new-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  border: 25px solid transparent;
  border-left: 25px solid red;
  border-top: 25px solid red;
  .new{
    position: relative;
    span{
      position: absolute;
      left: -21px;
      top: -15px;
      transform: rotate(-45deg);
      font-size: 15px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
.new-nonactive{
  display: none;
}
// end section price
// start section staff
.staff__inner{
  height: 980px;
  border-top: 1px solid #fff;

}
.staff__inner-box{
  display: flex;
  justify-content: space-between;
}
.staff__item{
  max-width: 374px;
  width: 100%;
  height: 488px;
  margin-top: 63px;
  &-images{
    margin-bottom: 29px;
  }
  &-name{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    // padding-right: 200px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 3px;
      width: 196px;
      background-color: #f2719a;
      right: 1px;
      top: 17px;
    }
  }
}
// end section staff
// start section article
.project__inner{
  display: flex;
  justify-content: space-between;
}
.project__item{
  max-width: 400px;
  width: 100%;
  height: 1000px;
  position: relative;
  &-title{
    max-width: 331px;
    min-height: 72px;
    padding-top: 57px;
    padding-left: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
  }
  &-box{
    right: 200px;
    bottom: 175px;
    position: absolute;
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-90deg);
    line-height: 1.2;
    letter-spacing: 5px;
  }
}
// end section article



@import 'media';
